@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="appController as vm">
    <h2>Broadcast Hub <small>SignalR test</small></h2>
    <br />
    <div class="row">
        <div class="col-md-6">
            <form name="notifyForm" ng-submit="vm.notify()">
                <div class="input-group">
                    <input type="text" name="notifyMessage" class="form-control" ng-model="vm.notifyMessage" ng-maxlength="1000" required />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">notify</button>
                    </span>
                </div>
                <div ng-if="notifyForm.notifyMessage.$error.maxlength" class="text-danger">Max allowed is 1000 characters.</div>
            </form>
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>Hub status: <span ng-class="vm.hubStatusColor">{{vm.hubStatus}}</span></div>
                    <div style="margin-top:5px">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-xs" ng-click="vm.resetMessages()">clear</button>
                        </div>
                        <div class="btn-group btn-group-xs" role="group">
                            <button type="button" class="btn btn-info" ng-click="vm.startHub()" ng-disabled="vm.isConnecting">
                                <i class="fa fa-spinner fa-spin" aria-hidden="true" ng-show="vm.isConnecting"></i>
                                {{vm.isConnecting ? '' : 'reconnect'}}
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="vm.stopHub()">disconnect</button>
                            <button type="button" class="btn" 
                                    ng-class="{'btn-default': !vm.isNotifyOn, 'btn-success': vm.isNotifyOn}" 
                                    ng-click="vm.notifyOn()">notifyOn</button>
                            <button type="button" class="btn" 
                                    ng-class="{'btn-default': vm.isNotifyOn, 'btn-warning': !vm.isNotifyOn}" 
                                    ng-click="vm.notifyOff()">notifyOff</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body broadcast-panel">
                    <div ng-repeat="message in vm.broadcastMessages track by $index">
                        <p>{{message}}</p>
                    </div>                  
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>
                Reactive Chart
                &nbsp;
                <span>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="vm.trigger()">random chart</button>
                </span>
            </h3>            
            <canvas id="line-chart" class="chart chart-line" 
                    chart-data="vm.chartData"
                    chart-labels="vm.chartLabels" 
                    chart-series="vm.chartSeries" 
                    chart-options="vm.chart.Options"
                    chart-dataset-override="vm.chart.datasetOverride" 
                    chart-click="vm.onChartClick">
            </canvas>
        </div>
    </div>
</div>
@section Scripts {
<script>
(function ($) {

    $(function () {

        //replaced by angular code
        @*var connection = $.hubConnection();
        var hub = connection.createHubProxy("BroadcastHub");

        hub.on('notify', (message) => {
            $('#broadcast-message').html(message);
        });

        $('#invoke-btn').click(() => {
            hub.invoke("Trigger");
        });

        connection.start().done(() => {
            $('#signalr-status').html('hub started.');
        });*@

    }); // end of DOM ready

})(jQuery); // end of iife
</script>
}