@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="appController as vm">
    <h2>{{vm.ctrlName}}</h2>
    <p>SignalR status: <span id="signalr-status"></span></p>
    <p>Server says: <span id="broadcast-message"></span></p>    
</div>
@section Scripts {
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="/signalr/hubs"></script>
<script>
    $(function () { 
        var connection = $.hubConnection();
        var hub = connection.createHubProxy("BroadcastHub");

        hub.on('onBroadcast', (message) => { 
            $('#broadcast-message').html(message);
        });

        connection.start().done(() => {
            $('#signalr-status').html('hub started.');
        });
    });
</script>
}