@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="appController as vm">
    <h2>{{vm.pageTitle}}</h2>
    <br />
    @ViewBag.FromCache
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" ng-model="vm.notifyMessage" ng-keyup="$event.keyCode == 13 && vm.notify()" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="vm.notify()">notify</button>
                </span>
            </div>
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hub status: {{vm.hubStatus}}
                    <button type="button" ng-click="vm.trigger()" class="btn btn-primary btn-xs pull-right">trigger</button>
                </div>
                <div class="panel-body" style="background-color:lightslategrey;color:white;min-height:200px;">
                    {{vm.broadcastMessage}}
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    $(function () { 
        //var connection = $.hubConnection();
        //var hub = connection.createHubProxy("BroadcastHub");

        //hub.on('notify', (message) => { 
        //    $('#broadcast-message').html(message);
        //});

        //$('#invoke-btn').click(() => {
        //    hub.invoke("Trigger");
        //});        

        //connection.start().done(() => {
        //    $('#signalr-status').html('hub started.');
        //});
    });
</script>
}