@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="appController as vm">
    <h2>{{vm.ctrlName}}</h2>
    <p>SignalR status: <span id="signalr-status">{{vm.hubStatus}}</span></p>
    <p>Server says: <span id="broadcast-message">{{vm.broadcastMessage}}</span></p>   
    <button type="button" id="invoke-btn" ng-click="vm.trigger()">invoke</button>
</div>
@section Scripts {
<script>
    $(function () { 
        var connection = $.hubConnection();
        var hub = connection.createHubProxy("BroadcastHub");

        hub.on('notify', (message) => { 
            $('#broadcast-message').html(message);
        });

        $('#invoke-btn').click(() => {
            hub.invoke("Trigger");
        });        

        connection.start().done(() => {
            $('#signalr-status').html('hub started.');
        });
    });
</script>
}