
@{
    ViewBag.Title = "Panels";
}
<div  ng-controller="AppController as vm">
    <h2>Panels</h2>
    <p>
        <button type="button" ng-click="vm.copyPanel()" class="btn btn-default">Copy</button>
        <button type="button" ng-click="vm.resetPanel()" class="btn btn-default">Reset</button>
    </p>
    <div class="row">
        <div ng-repeat="panel in vm.panels track by $index" class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="" ng-click="vm.removePanel($index)"  class="pull-right">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a> 
                    <h3 class="panel-title">{{ panel.title }}</h3>                   
                </div>
                <div class="panel-body">
                    {{ panel.content }} {{ $index }}
                </div>
                <div class="panel-footer">{{ panel.addedString() }}</div>
            </div>
        </div>
    </div>
</div>