@{
    ViewBag.Title = "Progress Bar";
}
<h2>@ViewBag.Title.</h2>

<p>
    <button type="button" id="progress-btn" class="btn btn-primary btn-sm">Progress</button>
</p>
<div class="progress">
    <div class="progress-bar progress-bar-striped"
         id="progress-element"
         role="progressbar" 
         aria-valuenow="0" 
         aria-valuemin="0" 
         aria-valuemax="100" 
         style="width: 0%; min-width: 2em;">0%</div>
</div>
<p>Elapsed: <span id="elapsed"></span></p>

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script>
    $(function () {

        $('#progress-btn').click(function () {
            var startMoment = moment();
            initProgress(startMoment);
        });
        
        function initProgress(startMoment) {
            var source = new EventSource('@Url.Action("ProgressAsync")');
            var progressEl = $('#progress-element');
            progressEl.addClass('active');

            //source.onopen = (event) => {
            //    progressEl.html('Connection Opened');
            //};
            //source.onerror = (event) => {
                //console.log(source.readyState);
                //if (event.eventPhase == EventSource.CLOSED) {
                //    $('#progress').html('Connection Closed');
                //    source.close();
                //}
            //};
            source.onmessage = (event) => {
                var percent = event.data;
                progressEl.html(percent + '%').css('width', percent + '%').attr('aria-valuenow', percent);
                if (percent == '100') {
                    progressEl.removeClass('active');
                    source.close();
                }
                $('#elapsed').html(startMoment.toNow(true));
                //$('#elapsed').html(moment().diff(startMoment));
            };
        }
    });
</script>    
}